.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
}

.NavLink {
    padding: 5px;
    text-decoration: none;
}

.NavLinkActive {
    color: #2142b2;
}

.NavLinkActive i {
    color: #2142b2;
}